@import "tailwindcss";

html, body {
  height: 100%;
}

/* phone scrollbar */
#chat-box::-webkit-scrollbar {
  width: 8px;
}
#chat-box::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.1);
  border-radius: 9999px;
}

/* small utilities */
.container {
  max-width: 1100px;
}